@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.otf") format("otf"),
         url("../fonts/Gilroy-Medium.woff") format("woff"),
         url("../fonts/Gilroy-Medium.ttf") format("ttf");
         font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: 800;
}
body{
    height: 100%;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: #070707;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
._container{
    max-width: 970px;
    margin: 0 auto;
    position: relative;
}
.header{
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    padding:  0 10px;
}
.menu_list{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.menu{
    position: absolute;
    width: 100%;
}
.header_container{
    display: flex;
    min-height: 90px;
    align-items: center;
}
.menu_link{
    color:#828282;
    line-height: 157%;
    font-weight: 800;
}
.menu_list{
    justify-content: space-between;
    width: 100%;
}
.active{
    color: #070707;
}

/* @media(max-width:768px){
    .menu_burger{
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin: 30px 0 0 40px;
    }
    .menu_burger span, .menu_burger::after, .menu_burger::before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    .menu_burger span{
        top:21px;
    }
    .menu_burger::after,.menu_burger::before{
        content: '';
    }
    .menu_burger::after{
        bottom: 0px;
    }
    .menu_burger::before{
        top: 10px;
    }
    .menu{
        display: none;
    }
} */




@media(max-width:425px){
    .menu_item:not(:last-child){
        margin: 0 9px 0 0;
    }
}
.hr_line{
    width: 100%;
    color: #828282;
    top:40px;
    position: relative;
    height: 2px;
    background-color: #828282;
    border:#828282;
}

/* ------------------------- */


.section{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    padding: 60px 10px;
    background-color: #fff;
}
.section h1{
    line-height: 35px;
}
.text{
    transform: rotate(-90deg);
    top: -27px;
    position: relative;
}
.img{
    width: 100%;
    height: 430px;
    top: -451px;
    z-index: -1;
}
.cl_img{
    padding-bottom: 20px;
}
@media(max-width:768px){
    .img{
        top:-305px;}
}
@media(max-width:425px){
    .img{
        top:-135px;}
}

.about_me{
    background-color: #F6F6F6;
    margin-top: 100px;
}

.sec{
    text-align: center;
    padding: 120px 10px;
}
.toc{
    font-size: 34px;
    font-weight: 800;
}
.sec p{
    line-height: 25px;
    margin:60px 0;
}
.box{
    padding: 110px 0;
}
.progi{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.star{
    display: flex;
}
.star img{
    padding: 0 5px;
}
.ex{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.ex p{
    margin: 25px 0 40px 0;
}
.ex1{
    justify-content: space-between;
}
.portfolio{
    background-color: #F6F6F6;
}
.blok {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blok p{
    text-decoration: underline;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.icon{
    min-width: 30%;
    margin-top: 70px;
}
.button{
    display: inline-flex;
}
.button_button{
    background: #070707;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    /* letter-spacing: 0.2px; */
    color: #fff;
    text-align: center;
    padding: 5px 30px;
}




